.about-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    @media (max-width: 768px) {
        padding: 1rem; 
    }
  }


.about-container {
    width: 95%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
    padding-bottom: 3rem;
    @media (max-width: 768px) {
        width: 100%; 
    }
}
.about-top-container {
    width: 100%;
    padding-left: 2rem;
    padding-top: 2rem;
}
.about-title {
    font-size: 2.5rem;
    font-weight: 500;
    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
}

.about-bottom-container {
    display: flex;
}

.about-bottom-left-container {
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        display: none;
    }
}

.about-pic {
    width: 100%;
}

.about-bottom-right-container {
    flex: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    @media (max-width: 768px) {
        flex: 1;
        font-size: 0.8rem;
    }
}

.about-card-container {
    display: flex;
    width: 80%;
    align-items: center;
    padding: 1rem;
    gap:1rem;
    border-radius: 1rem;
    background-image: linear-gradient(to right,  rgb(77, 73, 73), rgba(255,0,0,0));
}

